* {
	BG:             #141415;
	BGA:            #252530;
	FG:             #cdcdcd;
	BDR:            #aeaed1;
	UGT:            #d8647e;

	font-normal:    "HurmitNerdFont 12";
	font-power:     "HurmitNerdFont 60";
}
