@import "colors.css";

* {
	font-family: HurmitNerdFont;
	font-size: 14px;
	min-height: 0;
}

tooltip {
	background: @base;
	border: 1px solid @blue1;
}

tooltip label {
	background-color: @base;
	color: @text;
}

#waybar {
	background-color: @transparent;
	color: @text;
	margin: 0;
}

#workspaces {
	border-radius: 10px;
	margin-left: 5px;
	background-color: @base;
	margin-top: 5px;
}

#workspaces button {
	background-color: transparent;
	color: @blue2;
	border-radius: 0rem;
	padding: 0.6rem 0.6rem;
}

#workspaces button.active {
	color: @aqua2;
	border-radius: 0rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#network,
#pulseaudio,
#custom-dnd,
#custom-power {
	background-color: @base;
	padding: 0.6rem 1rem;
	margin-top: 5px;
}

#clock {
	color: @blue1;
	border-radius: 10px;
	margin-right: 5px;
	margin-left: 5px;
}

#battery {
	color: @green1;
	border-radius: 0;
}

#battery.charging {
	color: @green1;
}

#battery.warning:not(.charging) {
	color: @yellow1;
}

#battery.critical:not(.charging) {
	color: @red1;
}

#backlight {
	color: @yellow1;
}

#backlight {
	border-radius: 0;
}

#custom-dnd {
	border-radius: 0px 10px 10px 0px;
}

#pulseaudio {
	color: @aqua1;
	border-radius: 10px 0px 0px 10px;
	margin-left: 5px;
}

#network {
	color: @green2;
}

#network.disconnected {
	color: @red1;
}

#custom-music {
	color: @text;
	border-radius: 10px;
}

#custom-power {
	color: @red2;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 10px;
}

#tray {
	margin-left: 5px;
	border-radius: 10px;
}
